.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr;
    /* grid-template-rows: repeat(3, 50px); */

    grid-auto-flow: row;
    /* column-gap: 4px;
    row-gap: 4px; */
    /* grid-row-start: span 2; */
    /* grid-template-areas: 'first' 'second' 'third'; */
}
.grid-container div {
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #000;
}
.grid-container div:nth-child(1n) {
    /* grid-area: first; */
    /* height: 20px; */
    background-color: sandybrown;
}
.grid-container div:nth-child(2n) {
    /* grid-area: second; */
    /* height: 20px; */
    background-color: yellow;
}
